@model Lab1_Montenegro_1229918.Models.Game

@{
    //Layout = null;
    ViewBag.Title = "MostrarJuegos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MostrarJuegos</h2>
<h2><center>@Model.nombre</center></h2>
<h3>@Model.puntuacion</h3>
<h3>@Model.año</h3>
<h3>@Model.categoria</h3>
<h3>@Model.estudio</h3>
<h3>@Model.resultadoTiempo</h3>
<h3>@Model.resultadoTiempoPID</h3>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MostrarJuegos</title>
</head>
<body>
    <div>
    </div>
</body>
</html>
